In [0]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import random
import tensorflow as tf
import matplotlib.pylab as plt
import os

In [72]:
train = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DACON/data/train.csv', index_col='id')
test = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DACON/data/test.csv', index_col='id')
sample_submission = pd.read_csv('/content/drive/My Drive/Colab Notebooks/DACON/data/sample_submission.csv', index_col='id')

train.head()

    X00    X01  X02  X03  X04     X05  ...   Y13  Y14  Y15  Y16  Y17  Y18
id                                     ...
0   9.7  988.8  1.2  0.6  0.0  1009.3  ...  10.0  9.5  9.0  8.0  9.0  NaN
1   9.3  988.9  1.7  1.9  0.0  1009.3  ...  10.0  9.5  9.0  7.5  9.0  NaN
2   9.4  989.0  1.1  2.3  0.0  1009.2  ...   9.5  9.5  8.5  7.5  8.5  NaN
3   9.4  988.9  1.5  0.7  0.0  1009.2  ...   9.5  9.0  8.5  7.5  8.5  NaN
4   9.2  988.9  0.8  1.7  0.0  1009.2  ...   9.5  9.0  8.5  7.5  8.5  NaN

[5 rows x 59 columns]

In [53]:
train.tail()

       X00    X01  X02  X03  X04     X05  ...  Y13  Y14  Y15  Y16  Y17   Y18
id                                        ...
4747  19.9  987.6  0.9  0.8  0.0  1006.9  ...  NaN  NaN  NaN  NaN  NaN  21.5
4748  19.9  987.6  0.5  0.7  0.0  1006.8  ...  NaN  NaN  NaN  NaN  NaN  21.5
4749  19.7  987.7  0.9  0.6  0.0  1006.9  ...  NaN  NaN  NaN  NaN  NaN  21.5
4750  19.4  987.7  0.9  0.8  0.0  1006.9  ...  NaN  NaN  NaN  NaN  NaN  21.5
4751  19.1  987.6  1.0  0.3  0.0  1006.8  ...  NaN  NaN  NaN  NaN  NaN  21.0

[5 rows x 59 columns]

In [54]:
train.info() # 결측치 확인

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4752 entries, 0 to 4751
Data columns (total 59 columns):
X00    4752 non-null float64
X01    4752 non-null float64
X02    4752 non-null float64
X03    4752 non-null float64
X04    4752 non-null float64
X05    4752 non-null float64
X06    4752 non-null float64
X07    4752 non-null float64
X08    4752 non-null float64
X09    4752 non-null float64
X10    4752 non-null float64
X11    4752 non-null float64
X12    4752 non-null float64
X13    4752 non-null float64
X14    4752 non-null float64
X15    4752 non-null float64
X16    4752 non-null float64
X17    4752 non-null float64
X18    4752 non-null float64
X19    4752 non-null float64
X20    4752 non-null float64
X21    4752 non-null float64
X22    4752 non-null float64
X23    4752 non-null float64
X24    4752 non-null float64
X25    4752 non-null float64
X26    4752 non-null float64
X27    4752 non-null float64
X28    4752 non-null float64
X29    4752 non-null float64
X30    4752 non-null float64
X31    4752 non-null float64
X32    4752 non-null float64
X33    4752 non-null float64
X34    4752 non-null float64
X35    4752 non-null float64
X36    4752 non-null float64
X37    4752 non-null float64
X38    4752 non-null float64
X39    4752 non-null float64
Y00    4320 non-null float64
Y01    4320 non-null float64
Y02    4320 non-null float64
Y03    4320 non-null float64
Y04    4320 non-null float64
Y05    4320 non-null float64
Y06    4320 non-null float64
Y07    4320 non-null float64
Y08    4320 non-null float64
Y09    4320 non-null float64
Y10    4320 non-null float64
Y11    4320 non-null float64
Y12    4320 non-null float64
Y13    4320 non-null float64
Y14    4320 non-null float64
Y15    4320 non-null float64
Y16    4320 non-null float64
Y17    4320 non-null float64
Y18    432 non-null float64
dtypes: float64(59)
memory usage: 2.2 MB

In [55]:
test.info() # 결측치 없음 # train보다 두 배 이상 데이터가 많음

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11520 entries, 4752 to 16271
Data columns (total 40 columns):
X00    11520 non-null float64
X01    11520 non-null float64
X02    11520 non-null float64
X03    11520 non-null float64
X04    11520 non-null float64
X05    11520 non-null float64
X06    11520 non-null float64
X07    11520 non-null float64
X08    11520 non-null float64
X09    11520 non-null float64
X10    11520 non-null float64
X11    11520 non-null float64
X12    11520 non-null float64
X13    11520 non-null float64
X14    11520 non-null float64
X15    11520 non-null float64
X16    11520 non-null float64
X17    11520 non-null float64
X18    11520 non-null float64
X19    11520 non-null float64
X20    11520 non-null float64
X21    11520 non-null float64
X22    11520 non-null float64
X23    11520 non-null float64
X24    11520 non-null float64
X25    11520 non-null float64
X26    11520 non-null float64
X27    11520 non-null float64
X28    11520 non-null float64
X29    11520 non-null float64
X30    11520 non-null float64
X31    11520 non-null float64
X32    11520 non-null float64
X33    11520 non-null float64
X34    11520 non-null float64
X35    11520 non-null float64
X36    11520 non-null float64
X37    11520 non-null float64
X38    11520 non-null float64
X39    11520 non-null float64
dtypes: float64(40)
memory usage: 3.6 MB

In [56]:
Y_train = train.loc[:4319, 'Y00':'Y17']
Y_train.head()

     Y00   Y01   Y02   Y03   Y04   Y05  ...  Y12   Y13  Y14  Y15  Y16  Y17
id                                      ...
0   12.5  11.5  11.0  20.0  20.0  10.5  ...  9.0  10.0  9.5  9.0  8.0  9.0
1   12.5  11.0  11.0  20.0  20.0  10.0  ...  8.5  10.0  9.5  9.0  7.5  9.0
2   12.0  11.0  11.0  19.5  19.5  10.0  ...  8.0   9.5  9.5  8.5  7.5  8.5
3   12.0  11.0  11.0  19.5  19.5   9.5  ...  8.0   9.5  9.0  8.5  7.5  8.5
4   12.0  10.5  10.5  19.0  19.5   9.5  ...  7.5   9.5  9.0  8.5  7.5  8.5

[5 rows x 18 columns]

In [57]:
Y_train.tail()

       Y00   Y01   Y02   Y03   Y04   Y05  ...   Y12   Y13   Y14   Y15   Y16   Y17
id                                        ...
4315  22.0  22.5  22.5  26.0  26.0  21.0  ...  20.5  20.5  20.0  20.0  20.5  20.0
4316  22.0  22.5  22.5  26.0  25.5  21.0  ...  20.5  20.5  20.0  19.5  20.5  19.5
4317  21.5  22.5  22.5  26.0  25.5  21.0  ...  20.0  20.0  19.5  19.5  20.0  19.0
4318  21.5  22.0  22.0  25.5  25.5  20.5  ...  20.0  20.0  19.5  19.5  20.0  19.0
4319  21.5  22.0  22.0  25.5  25.5  20.5  ...  19.5  19.5  19.5  19.5  19.5  19.0

[5 rows x 18 columns]

In [58]:
Y_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4320 entries, 0 to 4319
Data columns (total 18 columns):
Y00    4320 non-null float64
Y01    4320 non-null float64
Y02    4320 non-null float64
Y03    4320 non-null float64
Y04    4320 non-null float64
Y05    4320 non-null float64
Y06    4320 non-null float64
Y07    4320 non-null float64
Y08    4320 non-null float64
Y09    4320 non-null float64
Y10    4320 non-null float64
Y11    4320 non-null float64
Y12    4320 non-null float64
Y13    4320 non-null float64
Y14    4320 non-null float64
Y15    4320 non-null float64
Y16    4320 non-null float64
Y17    4320 non-null float64
dtypes: float64(18)
memory usage: 641.2 KB

In [59]:
Y_train['Y18']=Y_train.mean(axis=1)
Y_train.head()

     Y00   Y01   Y02   Y03   Y04   Y05  ...   Y13  Y14  Y15  Y16  Y17        Y18
id                                      ...
0   12.5  11.5  11.0  20.0  20.0  10.5  ...  10.0  9.5  9.0  8.0  9.0  10.666667
1   12.5  11.0  11.0  20.0  20.0  10.0  ...  10.0  9.5  9.0  7.5  9.0  10.444444
2   12.0  11.0  11.0  19.5  19.5  10.0  ...   9.5  9.5  8.5  7.5  8.5  10.166667
3   12.0  11.0  11.0  19.5  19.5   9.5  ...   9.5  9.0  8.5  7.5  8.5  10.000000
4   12.0  10.5  10.5  19.0  19.5   9.5  ...   9.5  9.0  8.5  7.5  8.5   9.833333

[5 rows x 19 columns]

In [0]:
y_train = train.loc[4320:, 'Y18']
Y_train = Y_train['Y18']
target = pd.concat([Y_train, y_train])

In [61]:
target.isnull()

id
0       False
1       False
2       False
3       False
4       False
        ...
4747    False
4748    False
4749    False
4750    False
4751    False
Name: Y18, Length: 4752, dtype: bool

In [62]:
X_train = train.loc[:, 'X00':'X39']
X_train.head()

    X00    X01  X02  X03  X04     X05  ...  X34    X35  X36   X37   X38  X39
id                                     ...
0   9.7  988.8  1.2  0.6  0.0  1009.3  ...  0.0  256.4  0.0  77.2  62.6  0.0
1   9.3  988.9  1.7  1.9  0.0  1009.3  ...  0.0  215.4  0.0  77.3  63.5  0.0
2   9.4  989.0  1.1  2.3  0.0  1009.2  ...  0.0  235.2  0.0  77.3  63.9  0.0
3   9.4  988.9  1.5  0.7  0.0  1009.2  ...  0.0  214.0  0.0  77.5  64.5  0.0
4   9.2  988.9  0.8  1.7  0.0  1009.2  ...  0.0  174.9  0.0  78.0  65.0  0.0

[5 rows x 40 columns]

In [63]:
X_train.tail()

       X00    X01  X02  X03  X04     X05  ...    X34    X35  X36   X37   X38  X39
id                                        ...
4747  19.9  987.6  0.9  0.8  0.0  1006.9  ...  22.16  218.6  0.0  82.3  58.6  0.5
4748  19.9  987.6  0.5  0.7  0.0  1006.8  ...  22.16  161.7  0.0  82.5  59.1  0.5
4749  19.7  987.7  0.9  0.6  0.0  1006.9  ...  22.16  254.2  0.0  83.0  58.9  0.5
4750  19.4  987.7  0.9  0.8  0.0  1006.9  ...  22.16  300.0  0.0  83.2  59.8  0.5
4751  19.1  987.6  1.0  0.3  0.0  1006.8  ...  22.16  157.5  0.0  84.0  59.5  0.5

[5 rows x 40 columns]

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

x_train, x_test, y_target, y_test = train_test_split(X_train, target, test_size=0.2) 
model = RandomForestRegressor()

In [82]:
from sklearn.metrics import r2_score

model.fit(x_train, y_target)
y_pred = model.predict(x_test)

loss = r2_score(y_pred, y_test) 
print("loss : %.2f"% loss)

loss : 0.99

In [0]:
test_x = test.loc[:, 'X00':'X39']

# 예측하기 
finetune_pred = model.predict(test_x)

In [0]:
# 제출 파일 만들기
submission = pd.DataFrame(data=finetune_pred, columns=sample_submission.columns, index=sample_submission.index)
submission.to_csv('/content/drive/My Drive/Colab Notebooks/DACON/submission/submission(2).csv', index=True)